    {% extends "layout.njk" %}
    
    {% block content%}

    <div class="apresentacao about">
    <h3>Sobre a Foodfy</h3>
    <p>Fundada em 2006, a Foodfy é uma empresa dedicada exclusivamente ao desenvolvimento de aplicações para Internet, como sistemas especialistas, redes sociais, web sites dinâmicos, sistemas online, integração com sistemas locais, e outras aplicações que possam ser integradas ou acessadas via internet.

A empresa conta atualmente com uma estrutura própria de servidores, com monitoramento 24×7, backup de dados e links redundantes, alocados em Data Center internacional. Sua equipe é formada por profissionais graduados e mestres na área de informática e comunicação, com mais de 15 anos de experiência, atuando diretamente em diversas empresas e universidades privadas.

A empresa possui sua sede na cidade de Piracicaba, mas atua em todas as regiões do Brasil, atendendo empresas de pequeno, médio e grande porte, incluindo empresas Multi-Nacionais e Universidades.</p>

    

    </div>

    {% endblock %}